<div class="alert alert-info text-center" role="alert" *ngIf="loading">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync fa-spin fa-2x"></i>
  </p>
</div>


<div class="alert alert-danger text-center" role="alert" *ngIf="error && !loading">
  <h4 class="alert-heading">Error</h4>
  <pre>
    {{error | json}}
  </pre>
</div>


<div class="card-columns" *ngIf="!loading">
  <div class="card" *ngFor="let usuario of usuarios">
    <img [src]="usuario.avatar" class="card-img-top" [alt]="usuario.first_name">
    <div class="card-body">
      <h5 class="card-title">{{usuario.first_name}} {{ usuario.last_name}}</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural </p>
      <p class="card-text">
        <span class="text-muted">
          ID:{{usuario.id}}
        </span>
      </p>
    </div>
  </div>
</div>
